html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a img {
  border: none;
}
/* END RESET*/
body {
  background: #33194c;
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}

.main-container {
  background: white;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em 1.75em;
  width: 40vw;
}

h1 {
  color: #3f7fbf;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

h1, form, .book {
  border-bottom: 2px solid #33194c;
}

/* FORM styles */
input {
  margin: 0 0 0.75em 0;
}

/* BOOK styles */
.book {
  margin: 1.5em 0;
  padding-bottom: 1em;
}

.book h2 {
  background: #3f7fbf;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em;
}

.book ul {
  padding: 1em;
}

.book li {
  margin-bottom: 0.5em;
}

/* INVISIBLE class styles */
.invisible {
  display: none;
}
